.accordion {
  display: flex;
  gap: 30px;

  @include vp-767 {
    flex-direction: column;
    gap: 0;
    margin-bottom: 35px;
    width: 100%;
  }
}

.accordion__section {
  color: $color-default-white;

  @include vp-1023 {
    width: 50%;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    transition: 0.3s padding-bottom;
    width: 100%;

    &::before {
      background-color: $color-default-white;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:last-child::after {
      background-color: $color-default-white;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.accordion__button {
  background-color: transparent;
  border: 0;
  color: inherit;
  display: flex;
  font-family: $ff-robotocondensed;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 91.02%;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
  min-height: 20px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  @include vp-767 {
    align-items: center;
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 20px;

    &::after,
    &::before {
      background-color: $color-default-white;
      content: "";
      height: 1px;
      position: absolute;
      right: 26px;
      width: 15px;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

.accordion__content {
  gap: 30px;
  row-gap: 8px;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
  }
}

.accordion__section.is-active {
  padding-bottom: 25px;
}

.accordion__content ul {
  column-gap: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 135%;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;
  @include vp-767 {
    width: 100%;
  }
}

.accordion__content--wide {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
  }
}

.accordion__content li {
  max-width: 345px;

  @include vp-767 {
    max-width: 100%;
    width: 100%;
  }
}

.accordion__content--wide li {
  max-width: 220px;

  @include vp-767 {
    max-width: 100%;
    width: 100%;
  }
}

.accordion__content a {
  color: $color-white-70;
  display: flex;
  font-size: 16px;
  line-height: 135%;
  width: 100%;
}
