.button {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: $ff-robotocondensed;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 16px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;

  &--transparent-white {
    background-color: transparent;
    border: 1px solid $text-white-alt;
  }

  &--transparent-blue {
    background-color: transparent;
    border: 1px solid $light-blue;
    color: $light-blue;
    min-width: 180px;
    padding: 14px 20px;
  }
}
