.feedback {
  background-color: $color-deep-sky-blue;
  min-height: 840px;
  position: relative;
  width: 100%;

  @include vp-1023 {
    min-height: 580px;
  }

  &::after {
    background-color: $color-black-pearl-50;
    clip-path: polygon(50.6% 0, 0 0, 0 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-767 {
    min-height: 750px;
  }
}

.feedback__wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 250px;
  padding-top: 170px;
  position: relative;
  z-index: 1;

  @include vp-1023 {
    display: flex;
    gap: 0;
    padding-bottom: 125px;
    padding-top: 50px;
  }

  @include vp-767 {
    padding-bottom: 80px;
  }
}

.feedback__image {
  margin-top: 76px;

  @include vp-1023 {
    display: none;
  }
}
