.feedback {
  background-color: #00b3ff;
  min-height: 840px;
  position: relative;
  width: 100%;

  @include vp-1023 {
    min-height: 580px;
  }

  &::after {
    background-color: rgba(4, 24, 39, 0.5);
    clip-path: polygon(50.6% 0, 0 0, 0 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-767 {
    min-height: 750px;
  }
}

.feedback__wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 250px;
  padding-top: 170px;
  position: relative;
  z-index: 1;

  @include vp-1023 {
    display: flex;
    gap: 0;
    padding-bottom: 125px;
    padding-top: 50px;
  }

  @include vp-767 {
    padding-bottom: 80px;
  }
}

.feedback__image {
  margin-top: 76px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__content {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;

  @include vp-1023 {
    max-width: 100%;
  }
}

.feedback__content h2 {
  color: $text-white;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 15px;
  margin-left: -5px;
  min-height: 45px;

  @include vp-1023 {
    margin-bottom: 10px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 5px;
  }
}

.feedback__content p {
  color: $text-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 34px;
  }
}

.feedback__content form {
  color: $text-white;
  column-gap: 30px;
  display: grid;
  font-family: $ff-ptmono;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  line-height: 22px;
  row-gap: 20px;

  @include vp-767 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.feedback__content form input:not([type="submit"]):not([type="checkbox"]),
.feedback__content form textarea {
  background-color: rgba(4, 20, 39, 0.15);
  border: 0;
  color: inherit;
  margin: 0;
  min-height: 50px;
  padding: 0;
  padding: 15px;

  &::placeholder {
    color: $text-white;
  }

  @include vp-767 {
    width: 100%;
  }
}

.feedback__content form textarea {
  grid-column: 1 / 3;
  margin-bottom: 15px;
  min-height: 155px;
  padding: 25px 15px;

  @include vp-1023 {
    padding: 33px 15px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    min-height: 180px;
    padding: 25px 15px;
  }
}

.feedback__content form input[type="submit"] {
  background-color: $dark-blue;
  border: 0;
  border-radius: 3px;
  color: $text-white;
  cursor: pointer;
  font-family: $ff-robotocondensed;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 120%;
  margin-right: 10px;
  min-height: 45px;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;

  @include vp-1023 {
    margin-right: 55px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
  }
}

.feedback__content form input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  & + label {
    align-items: center;
    align-self: flex-end;
    display: flex;
    font-size: 14px;
    gap: 10px;
    line-height: 14px;
    margin-left: 10px;
    opacity: 80%;
    position: relative;

    &::before,
    &::after {
      border-radius: 2px;
      content: "";
      flex-shrink: 0;
      height: 15px;
      width: 15px;
    }

    &::before {
      border: 1px solid #ffffff;
    }

    &::after {
      background-image: url("../../img/svg/checkmark.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0;
      left: 0px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s background-size;
    }
  }

  &:checked + label {
    &::after {
      background-size: 10px;
    }
  }

  @include vp-1023 {
    & + label {
      margin-bottom: 5px;
      margin-left: 0;
    }
  }
  @include vp-767 {
    & + label {
      align-self: auto;
      margin: 5px;
    }
  }
}
