.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;

  @include vp-1023 {
    flex-wrap: wrap;
    padding-bottom: 65px;
  }

  @include vp-767 {
    gap: 30px;
    padding: 0;
    padding-top: 35px;
  }
}
