.form {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;

  @include vp-1023 {
    max-width: 100%;
  }
}

.form h2 {
  color: $color-default-white;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 15px;
  margin-left: -5px;
  min-height: 45px;

  @include vp-1023 {
    margin-bottom: 10px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 5px;
  }
}

.form p {
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 34px;
  }
}

.form--modal {
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  max-width: 500px;
  min-height: 610px;
  transform: translate(-17px, 30px);
}

.form--modal h2 {
  font-size: 30px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 15px;
  min-height: auto;
}

.form--modal p {
  line-height: 140%;
  margin-bottom: 35px;
}

.form form {
  color: $color-default-white;
  column-gap: 30px;
  display: grid;
  font-family: $ff-ptmono;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  line-height: 120%;
  row-gap: 20px;

  @include vp-767 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.form--modal form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input:not([type="checkbox"]),
.form textarea {
  background-color: $color-black-pearl-15;
  border: 0;
  color: inherit;
  margin: 0;
  min-height: 50px;
  padding: 15px;
  width: 100%;

  &::placeholder {
    color: rgba($color-default-white, 0.7);
  }

  @include default-states($color-black-pearl-50);
}

.form textarea {
  grid-column: 1 / 3;
  margin-bottom: 15px;
  min-height: 155px;
  padding: 25px 15px;

  @include vp-1023 {
    padding: 33px 15px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    min-height: 180px;
    padding: 25px 15px;
  }
}

.form--modal textarea {
  margin-bottom: 0;
}

.form__submit {
  background-color: $color-black-pearl;
  border: 0;
  border-radius: 3px;
  color: $color-default-white;
  cursor: pointer;
  font-family: $ff-robotocondensed;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 120%;
  margin-right: 10px;
  min-height: 45px;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;

  @include default-states($color-black-pearl-50);

  @include vp-1023 {
    margin-right: 55px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
  }

  &--modal {
    margin-right: 0;
    margin-top: 5px;
  }
}

.form__input {
  position: relative;
  width: 100%;

  & .input-message {
    color: $color-default-white-alt;
    font-family: $ff-robotocondensed;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: -20px;
  }

  & .is-invalid {
    color: rgba($color-black-pearl, 0.7);
  }
}

.form__input--personal-data {
  display: flex;
  position: relative;

  @include vp-767 {
    height: max-content;
  }
}

.form__input--personal-data input[type="checkbox"] {
  @include visually-hidden;
  bottom: 10px;
  height: 15px;
  left: 10px;
  width: 15px;

  @include vp-1023 {
    bottom: 0;
    left: 0;
  }

  @include vp-767 {
    bottom: 5px;
    left: 5px;
  }
}

.form__input--personal-data input[type="checkbox"] + label {
  @include default-states(rgba($color-black-pearl, 0.5));
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 10px;
  line-height: 120%;
  margin-left: 10px;
  opacity: 80%;
  position: relative;

  &::before,
  &::after {
    border-radius: 2px;
    content: "";
    flex-shrink: 0;
    height: 15px;
    width: 15px;
  }

  &::before {
    border: 1px solid $color-default-white;
  }

  &::after {
    background-image: url("../../img/svg/checkmark.svg");
    background-position: 40% center;
    background-repeat: no-repeat;
    background-size: 0;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s background-size;
  }

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    align-self: auto;
    margin: 5px;
  }
}

.form__input--personal-data input[type="checkbox"]:checked + label {
  &::after {
    background-size: 10px;
  }
}

.form__input--personal-data input[type="checkbox"]:focus-visible + label {
  @include default-outline(rgba($color-black-pearl, 0.5));
}

.form--modal .form__input--personal-data {
  align-self: center;
  margin: 0;
}
