.header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 2;

  &__wrapper {
    padding-bottom: 35px;
    padding-top: 30px;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(225px, 1fr));
    list-style: none;
    padding: 0;
    row-gap: 10px;
  }

  &__link {
    align-items: center;
    color: $text-white-alt;
    display: flex;
    gap: 15px;
  }

  &__link-content {
    line-height: 18px;
  }

  &__icon {
    fill: $light-blue;
    flex-shrink: 0;
  }

  &__button {
    background-color: transparent;
    border: 1px solid $text-white-alt;
    border-radius: 3px;
    color: $text-white-alt;
    font-family: inherit;
    margin: 0 60px 0 0;
    padding: 0;
    text-transform: uppercase;
  }

  @include vp-1023 {
    &__list {
      display: flex;
      margin-left: auto;
    }

    &__link {
      padding: 10px;
    }

    &__link-content {
      display: none;
    }

    &__button {
      display: none;
    }
  }
}
