.header {
  @include graphic-retina("intro/desktop/intro-background-image", $color-black-pearl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 1000;

  @include vp-1023 {
    @include graphic-retina("intro/tablet/intro-background-image", $color-black-pearl);
  }

  @include vp-767 {
    @include graphic-retina("intro/mobile/intro-background-image", $color-black-pearl);
  }

  &::after {
    background: $header-background;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.header__top {
  background: $header-top;
  position: fixed;
  top: 0;
  z-index: 1000;

  @include vp-1023 {
    position: static;
  }
}

.header__top-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  padding-top: 30px;

  @include vp-1023 {
    padding-bottom: 25px;
    padding-top: 20px;
  }

  @include vp-767 {
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

.header__list {
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(225px, 1fr));
  list-style: none;
  margin-left: 10px;
  margin-top: 9px;
  padding: 0;
  row-gap: 10px;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 20px;
  }

  @include vp-767 {
    margin: 0;
    margin-right: 10px;
  }
}

.header__link {
  align-items: center;
  color: $color-default-white-alt;
  display: flex;
  gap: 15px;

  @include default-states($color-deep-sky-blue);

  @include vp-1023 {
    padding: 10px;
  }
}

.header__link-content {
  line-height: 100%;

  @include vp-1023 {
    display: none;
  }
}

.header__icon {
  fill: $color-deep-sky-blue;
  flex-shrink: 0;
}

.header__button {
  &--modal {
    background-color: transparent;
    border: 1px solid $color-default-white-alt;
    border-radius: 3px;
    color: $color-default-white-alt;
    font-family: $ff-robotocondensed;
    margin: 0;
    margin-bottom: 5px;
    margin-right: 60px;
    min-height: 40px;
    min-width: 160px;
    padding: 0;
    text-transform: uppercase;

    @include vp-1023 {
      display: none;
    }
  }

  &--anchor {
    align-items: center;
    background-color: $color-deep-sky-blue;
    color: $color-default-white-alt;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 5px;
    min-height: 55px;
    padding: 15px 27px;

    @include vp-1023 {
      margin-left: 45px;
      margin-top: auto;
    }

    @include vp-767 {
      font-size: 14px;
      margin: 0;
      margin-top: 44px;
      min-height: 40px;
      padding: 10px 30px;
      width: 100%;
    }
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  position: relative;

  @include vp-1023 {
    margin-top: 0;
  }
}

.header__bottom-content {
  align-items: flex-start;
  color: $color-default-white-alt;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
  min-height: 880px;
  padding: 310px 300px 282px 157px;

  @include vp-1023 {
    gap: 0;
    min-height: 540px;
    padding: 85px 50px 205px 50px;
  }

  @include vp-767 {
    min-height: 490px;
    padding: 80px 25px 190px 25px;
  }
}

.header__bottom h2 {
  font-family: $ff-robotocondensed;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 100%;
  margin: 0;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 64px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 6px;
  }
}

.header__bottom p {
  font-size: 22px;
  font-weight: 400;
  line-height: 155%;
  margin: 0;
  text-transform: lowercase;

  @include vp-767 {
    font-size: 14px;
  }
}
