.services {
  background-color: #041827;
}

.services__container {
  padding-bottom: 140px;
  padding-top: 70px;

  @include vp-1023 {
    padding-bottom: 75px;
    padding-top: 55px;
  }
}

.services__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  grid-template-rows: minmax(650px, 1fr);
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
}

.services p {
  font-family: $ff-robotocondensed;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 50px 40px;
  position: relative;
  width: 70%;
  z-index: 1;

  @include vp-1023 {
    font-size: 20px;
    line-height: 30px;
    padding: 40px 45px;
    width: 40%;
  }
}

.services h2 {
  color: $text-white;
  display: flex;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 50px;
  min-height: 50px;

  @include vp-1023 {
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.services a {
  color: $text-white;
  margin: 0;
}

.services__item {
  background-size: cover;
  position: relative;

  &::before {
    background: rgba(4, 24, 39, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    background-color: #00b2ff;
    background-image: url("./../../img/svg/arrow.svg");
    background-position: calc(50% + 3px);
    background-repeat: no-repeat;
    background-size: 6px;
    border-radius: 3px 0 0 0;
    bottom: 0;
    content: "";
    height: 60px;
    position: absolute;
    right: 0;
    width: 60px;
  }

  &--1 {
    @include graphic-retina("services/desktop/services-1");
  }

  &--2 {
    @include graphic-retina("services/desktop/services-2");
  }

  &--3 {
    @include graphic-retina("services/desktop/services-3");
  }

  @include vp-1023 {
    min-height: 250px;

    &--1 {
      @include graphic-retina("services/tablet/services-1");
    }

    &--2 {
      @include graphic-retina("services/tablet/services-2");
    }

    &--3 {
      @include graphic-retina("services/tablet/services-3");
    }
  }

  @include vp-767 {
    &--1 {
      @include graphic-retina("services/mobile/services-1");
    }

    &--2 {
      @include graphic-retina("services/mobile/services-2");
    }

    &--3 {
      @include graphic-retina("services/mobile/services-3");
    }
  }
}

.services br {
  display: none;

  @include vp-1023 {
    display: unset;
  }
}
