.services {
  background-color: #041827;
}

.services__container {
  padding-bottom: 140px;
  padding-top: 70px;

  @include vp-1023 {
    padding-bottom: 75px;
    padding-top: 55px;
  }
}

.services__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  grid-template-rows: minmax(650px, 1fr);
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
}

.services p {
  font-family: $ff-robotocondensed;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 50px 40px;
  position: relative;
  width: 70%;
  z-index: 1;

  @include vp-1023 {
    font-size: 20px;
    line-height: 30px;
    padding: 40px 45px;
    width: 40%;
  }
}

.services h2 {
  color: $text-white;
  display: flex;
  font-family: $ff-robotocondensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 50px;
  min-height: 50px;

  @include vp-1023 {
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.services img {
  background: rgb(13, 55, 87);
  height: 100%;
  object-fit: none;
  position: absolute;
  top: 0;
}

.services a {
  color: $text-white;
  margin: 0;

  &::after {
    background: rgba(4, 24, 39, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.services__item {
  position: relative;

  &--1 img {
    object-position: 16.5% 69.15%;
  }

  &--2 img {
    object-position: 46.7% 72.3%;
  }

  &--3 img {
    object-position: 78.15% 65.7%;
  }

  @include vp-1023 {
    min-height: 250px;
  }
}

.services br {
  display: none;

  @include vp-1023 {
    display: unset;
  }
}
