.social {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 30px;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  @include vp-767 {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0;
  margin-left: 10px;
  max-width: 205px;
  padding: 0;

  @include vp-1023 {
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 0;
    max-width: 350px;
    row-gap: 10px;
  }

  @include vp-767 {
    margin-bottom: 0;
    margin-left: 5px;
    max-width: calc(100% - 50px);
  }
}

.social ul li a {
  @include default-states($color-deep-sky-blue);
  align-items: center;
  display: flex;
  fill: $color-default-white;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;

  @include vp-1023 {
    min-height: 30px;
    min-width: 30px;
  }
}
